# Python3.9+, update at 2023-07-01

# PyTorch
# numpy==1.25.1  # contain in torch
# torch==2.0.1
# torchvision==0.15.2
# cuda version
torch==1.13.1+cu116
torchvision==0.14.1+cu116

# d2l book，最新的0.17.6版本有冲突
# d2l==0.17.0

# 图像处理框架，比如YOLO系列，SAM
ultralytics==8.0.147

# pip install opencv-python，opencv
# pyautogui==0.9.54
opencv-python==4.8.0.74

# 高性能截屏库
dxcam==0.0.5

# for majsoul
mitmproxy==9.0.1
protobuf==3.16.0
requests

# win32, ui lib
# pyperclip==1.8.2  # 依赖qt5，体积比较大，使用win32clipboard（包含在pywin32中）
pyautogui==0.9.54
pywin32==306
psutil==5.9.5
